@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Välkommen till Rental North</p>
<script>
    
        $.getJSON("/api/AllCabins",null, function (cabinsJson) {
            //var obj = JSON.parse(cabinsJson);
            alert(cabinsJson[0].Title + " " + cabinsJson[1].Title);

            });
        });
</script>
